<div id="container">
  <div class="centered">
    <h2>Kommendes Spiel:</h2>
    <h3>Klasse {{match.klasse1.name}} vs Klasse {{match.klasse2.name}}</h3>
    <h4>{{match.gamename}} - ID: {{match.id}}</h4>
    <br>

    <h3>Sieger:</h3>
    <div class="container p-4">
      <div class="card p-2">
        <select name="type2formWinnerSelect" id="t2ws" (change)="selectChangeHandler($event)">
          <option>{{match.klasse1.name}}</option>
          <option>{{match.klasse2.name}}</option>
        </select>
      </div>
    </div>

    <br>


    <h3>Zeit {{match.klasse1.name}}:</h3>
    <div class="tooltip">
      <input pattern="[0-9]*" class="timeInput" name="timeInput1" #timeInput1>
      <span class="tooltiptext"><u>Format:</u> <br> Min : Sek : Ms</span>
    </div>


    <br>


    <h3>Zeit {{match.klasse2.name}}:</h3>
    <div class="tooltip">
      <input pattern="[0-9]*" class="timeInput" name="timeInput2" #timeInput2>
      <span class="tooltiptext"><u>Format:</u> <br> Min : Sek : Ms</span>
    </div>

    <br><br>

    <button type="button" name="type2formWinnerConfirm" id="t2wc" class="confirm" (click)="sendResult(selectedOption, timeInput1.value, timeInput2.value)"
            *ngIf="btnVisible">Bestätigen
    </button>
    <div class="loading" *ngIf="!btnVisible">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
