@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

#container {
  height: 100vh;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
}

select {
  background-color: rgba(33, 150, 243, 0.5);
  /* inline SVG */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-position: right 30px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 10px;
  border: black;
  color: #000000;
  padding: 20px 40px 20px 100px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  font-size: 20px;
  font-family: "Product Sans", serif;
}

.timeInput {
  background-color: rgba(33, 150, 243, 0.5);
  border-radius: 10px;
  border: black;
  color: #000000;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  font-family: "Product Sans", serif;
  text-align: center;
}

.confirm {
  background-color: #21f35c;
  border-radius: 10px;
  border: black;
  color: #000000;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-family: "Product Sans", serif;
  text-align: center;
}
.confirm:focus  {
  background-color: #1e9119;
  transition: 0.3s;
}
.card {
  max-width: 300px;
  margin: 0 auto;
}
.card option {
  font-size: 20px;
  padding: 5px;
  background: #dcdcdc;
  border-radius: 10px;
}
.centered {
  font-family: "Product Sans", serif;
  width: 100%;
  text-align: center;
}


.loading {
  border-radius: 10px;
  background-color: #1e9119;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000000;
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.48s;
}
.loading div:nth-child(2) {
  left: 32px;
  animation-delay: -0.24s;
}
.loading div:nth-child(3) {
  left: 56px;
}
@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
