@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

#container {
  height: 100vh;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
}

.centered {
  font-family: "Product Sans", serif;
  width: 100%;
  text-align: center;
}

.input {
  background-color: rgba(33, 150, 243, 0.5);
  border-radius: 10px;
  border: black;
  color: #000000;
  padding: 20px 40px 20px 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Product Sans", serif;
  text-align: center;
}

.confirm {
  background-color: #21f35c;
  border-radius: 10px;
  border: black;
  color: #000000;
  margin-top: 10px;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-family: "Product Sans", serif;
  text-align: center;
}
.confirm:focus  {
  background-color: #1e9119;
  transition: 0.3s;
}
